<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DefectDetection.Properties.Settings.ServerGlassInfoConnectionString"
            connectionString="Data Source=WIN-J64B1MNV821;Initial Catalog=ServerGlassInfo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
